In [75]:
import pandas as pd
import numpy as np
import math
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [110]:
df=pd.read_csv("/Users/vasukhanna/Desktop/BitcoinHeistData.csv")
df.head()

,address,year,day,length,weight,count,looped,neighbors,income,label
0,111K8kZAEnJg245r2cM6y9zgJGHZtJPy6,2017,11,18,0.008333,1,0,2,100050000.0,princetonCerber
1,1123pJv8jzeFQaCV4w644pzQJzVWay2zcA,2016,132,44,0.000244,1,0,1,100000000.0,princetonLocky
2,112536im7hy6wtKbpH1qYDWtTyMRAcA2p7,2016,246,0,1.000000,1,0,2,200000000.0,princetonCerber
3,1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7,2016,322,72,0.003906,1,0,2,71200000.0,princetonCerber
4,1129TSjKtx65E35GiUo4AYVeyo48twbrGX,2016,238,144,0.072848,456,0,1,200000000.0,princetonLocky

In [111]:
data.isnull().sum()
X=df
lastcolumn=df['label']

In [112]:
#handling null values
df.drop('address', inplace=True, axis=1)
df.drop('label', inplace=True, axis=1)
for col in df.columns:
    mean=df[col].mean()
    df[col].replace(np.NaN,)
    if(col=="year"):
        
        print("Replace null value from column",col," with ",int(mean))
    else:
        print("Replace null value from column",col," with ",mean)

Replace null value from column year  with  2014
Replace null value from column day  with  181.457211016434
Replace null value from column length  with  45.00859293920486
Replace null value from column weight  with  0.5455192341637917
Replace null value from column count  with  721.6446428957139
Replace null value from column looped  with  238.50669884461772
Replace null value from column neighbors  with  2.206516137946451
Replace null value from column income  with  4464889007.1859665

In [79]:
df.head()

   year  day  length    weight  count  looped  neighbors       income
0  2017   11      18  0.008333      1       0          2  100050000.0
1  2016  132      44  0.000244      1       0          1  100000000.0
2  2016  246       0  1.000000      1       0          2  200000000.0
3  2016  322      72  0.003906      1       0          2   71200000.0
4  2016  238     144  0.072848    456       0          1  200000000.0

In [80]:
def gini(X_train, X_test, y_train,i):
    model = DecisionTreeClassifier(criterion = "gini",random_state = 10,max_depth=i, min_samples_leaf=5)
    model.fit(X_train, y_train)
    return model

In [81]:
def entropy(X_train, X_test, y_train,i):
    model1= DecisionTreeClassifier(criterion = "entropy", random_state = 100,max_depth = i, min_samples_leaf = 5)
    model1.fit(X_train, y_train)
    return model1

In [82]:
def prediction(X_test, clf_object):
    y_pred = clf_object.predict(X_test)
    return y_pred

In [ ]:
def accuracy(y_test, y_pred):
    print ("Accuracy score : ",accuracy_score(y_test,y_pred)*100)

In [85]:
list=[4,8,10,15,20]
i=0
while i<len(list):
    x_train, x_valid, x_test = np.split(X.sample(frac=1), [int(0.7*len(X)),int(0.85*len(X))])
    y_train, y_valid, y_test = np.split(lastcolumn.sample(frac=1), [int(0.7*len(lastcolumn)),int(0.85*len(lastcolumn))])

    obj_entropy = entropy(x_train, x_test, y_train,list[i])
    obj_gini = gini(x_train, x_test, y_train,list[i])
    print("\nFor depth = ",list[i]," ****Gini results****")
    pred_gini = prediction(x_test, obj_gini)
    accuracy(y_test, pred_gini)
    
    print("\nFor depth = ",list[i]," ****Entropy results****")
    pred_entropy = prediction(x_test, obj_entropy)
    accuracy(y_test, pred_entropy)
    i=i+1

For depth =  4  ****Gini results****
Accuracy score :  98.5698449160581

For depth =  4  ****Entropy results****
Accuracy score :  98.5698449160581

For depth =  8  ****Gini results****
Accuracy score :  98.56367355801649

For depth =  8  ****Entropy results****
Accuracy score :  98.56344498920012

For depth =  10  ****Gini results****
Accuracy score :  98.57281631067073

For depth =  10  ****Entropy results****
Accuracy score :  98.57190203540532

For depth =  15  ****Gini results****
Accuracy score :  98.5730448794871

For depth =  15  ****Entropy results****
Accuracy score :  98.5609307322202

For depth =  20  ****Gini results****
Accuracy score :  98.57007348487446

For depth =  20  ****Entropy results****
Accuracy score :  98.54401663980983

In [120]:
from sklearn.ensemble import AdaBoostClassifier
for i in [4,8,10,15,20]:
    ada = AdaBoostClassifier(n_estimators=i,base_estimator=DecisionTreeClassifier(criterion="gini",max_depth=15))
  
    model = ada.fit(x_train, y_train)
    print("\n",i,"th estimator")
    print("Score ",ada.score(x_test,y_test)*100,"\n")

 4 th estimator
Score  94.8789156695352


 8 th estimator
Score  95.3369675775134


 10 th estimator
Score  94.71617467228945


 15 th estimator
Score  96.59683889326979


 20 th estimator
Score  97.50037142432659